<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- evitar ataques de Cross Site Scripting (injeção de dados)-->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'">
    <title>Janela secundária</title>

     <!-- bootsrap -->
     <link rel="stylesheet" href="../public/css/bootstrap.min.css">

     <!-- css personalizado -->
     <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>

    <h1>janela secundária</h1>
    
    <!-- bootstarp -->
    <script src="../public/js/bootstrap.min.js"></script>

</body>
</html>