<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- evitar ataques de Cross Site Scripting (injeção de dados)-->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'">

    <!-- O Electron usa o título na janela -->
    <title>Tutorial Electron</title>

    <!-- bootsrap -->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">

    <!-- css personalizado -->
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <div class="container">
        
        <h1>Hello Electron</h1>
        <button onclick="sobre()" class="btn btn-outline-primary btn-sm">Sobre</button>
        <button type="submit" class="btn btn-outline-info btn-sm" id="dialog-info">Info</button>
        <button type="submit" class="btn btn-outline-warning btn-sm" id="dialog-warming">Warning</button>
        <button type="button" class="btn btn-outline-success btn-sm" id="dialog-select">Select</button>
        
    </div>

    <!-- Rodapé -->
    <footer>
        <p id="dataAtual"></p>
    </footer>

    <!-- bootstarp -->
    <script src="../public/js/bootstrap.min.js"></script>

    <!-- Renderização (Sempre no fim) -->
    <script src="renderer.js"></script>
</body>

</html>