h1 {
    color: #000000;
    font-size: 30px;
    transition: .5s;
}
h1:hover {
    font-size: 40px;
    transition: .5s;
}

/* Rodapé */
footer { 
    background-color: #007acc;
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer p {
    display: flex;
    justify-content: center;
    font-size: 0.8em;
    font-weight: 450;
    color: #fff;
    margin: 12px 0;
}